.chatOnlineFriend{
    display:flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.chatOnlineImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chatOnlineImgContainer{
    position: relative;
}

.chatOnlineBadge{
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top:0;
    right:10px;
    border:1px solid white;
    background-color: limegreen;

}

/* .chatOnlineName{

} */